version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:3000"  # フロントから http://localhost:4000 にアクセス可能
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=3000
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=200
      - WATCHPACK_POLLING=true
      - TSC_WATCHFILE=UsePolling
      - TSC_WATCHDIRECTORY=DynamicPriorityPolling
    command: npm run start:dev
